.typography32Semibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography24Semibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography24Regular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography20Semibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography20Regular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography16Semibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography16Regular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography14Semibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography14Regular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography12Semibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography12Regular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography10Semi 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

